// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

/*
  レスポンシブ対応の記述例
  .className {
    width: 100%;
    @include mq(sp) {
      width: 50%;
    }
    @include mq(tab) {
      width: 75%;
    }
  }
*/

.checkbox-container {
  margin-bottom: 1rem;

  .form-check-input {
    -ms-transform: scale(1.8, 1.8);
    -webkit-transform: scale(1.8, 1.8);
    transform: scale(1.8, 1.8);
    margin-right: 8px;
    @include mq("sp") {
      -ms-transform: scale(1.5, 1.5);
      -webkit-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5);
      margin-right: 5px;
    }
  }
}

.document-preparation-table {
  border-bottom: #ccc 1px solid;
  border-collapse: collapse;
  th {
    border-bottom: #ccc 1px solid;
    padding: 1% 3%;
    width: 5%;
    @include mq("sp") {
      padding: 1% 2%;
    }
  }
}

.document-preparation-table {
  border-bottom: #ccc 1px solid;
  border-collapse: collapse;
  th,
  td {
    border-bottom: #ccc 1px solid;
    padding: 0.5rem;
  }
}

.modal-open-btn {
  width: 7rem;
  color: #fff;
  border: 1px solid #1a8d89;
  padding: 9px 17px;
  margin: 0;
  background-color: #1a8d89;
  font-size: 1rem;
  cursor: pointer;
}
.modal-open-btn:hover {
  color: #707070;
  background-color: #fff;
  transition: color 80ms 190ms, background-color 150ms;
}

.modal-close-btn {
  @extend .modal-open-btn;
  border: 1px solid #707070;
  background-color: #707070;
  margin-left: 1rem;
}

.selection-screen-btn {
  @extend .modal-open-btn;
  border: 1px solid #233b62;
  background-color: #233b62;
}
.selection-screen-btn:hover {
  @extend .modal-open-btn;
  border: 1px solid #233b62;
}

.download-btn {
  @extend .modal-open-btn;
  width: auto;
}

.copy-btn {
  border: 0;
  background: #fff;
  cursor: pointer;
  .icon:hover {
    color: #707070;
  }
}
.copy-btn:hover {
  opacity: 0.5;
}
.copy-btn:focus {
  outline: none;
}

.delete-btn {
  @extend .modal-open-btn;
  border: 1px solid rgb(185, 0, 0);
  background-color: rgb(185, 0, 0);
}

.popup {
  font-size: 13px;
  font-weight: bold;
}

.copy {
  display: flex;
  float: right;
}

// .table-striped {
//   // border-collapse: collapse;
//   // border-spacing: 0;
//   // border: solid 1px;
//   width: 100%;
//   th,
//   td {
//     height: 50px;
//     vertical-align: middle;
//     white-space: nowrap;
//     border-bottom: #f5f5f5 2px solid;
//   }
//   th {
//     position: sticky;
//     top: 0;
//     background-color: #f5f5f5;
//     color: #1a8d89;
//     font-weight: bold;
//     text-align: center;
//     &::before {
//       content: "";
//       position: absolute;
//       top: -1px;
//       left: -1px;
//       width: 100%;
//       height: 100%;
//     }
//   }
//   td {
//     text-align: center;
//     width: 1%;
//     @include mq("sp") {
//       padding: 1% 2%;
//     }
//   }
// }
