// マイページのcss
.mypage-wrapper{
  margin-left: 100px;
  margin-right: 100px;
  .title{
    font-size: 30px;
    border-bottom: 2px solid #707070;
  }
  .mail-pass {
    width:  1400px;
    height: 150px;
    font-size: 25px;
    .mail-pass-body {
      color: #707070;
    }
    .change-link {
      color: #2699FB;
    }
  }
}