// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #23ad39;
$sub-color: #707070;
$accent-color: #91c21f;

// 中央寄せする
.account-wrapper {
  margin: 0 5%;

  .title {
    font-size: 2rem;
    border-bottom: 2px solid $sub-color;
  }
  .mail-pass {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    tr {
      display: block;
      margin-bottom: 5%;
      td {
        width: 300px;
        @include mq(tab) {
          // width: 250px;
        }
      }
    }
  }
  .user-info-detail {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  .change-link {
    margin: 0;
  }
  .account-link {
    text-decoration: none;
    color: inherit;
  }
  .account-link:hover {
    text-decoration: underline;
  }
  @include mq(sp) {
    .mail-pass {
      tr {
        margin-bottom: 10%;
        display: block;
        td {
          display: block;
        }
      }
    }
  }
}

// input
.toggle-input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

// label
.toggle-label {
  width: 60px !important;
  height: 35px;
  background: #ccc;
  position: relative;
  display: inline-block;
  border-radius: 46px;
  transition: 0.4s;
  box-sizing: border-box;
  // switchの部分
  &:after {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    left: 0;
    top: 0;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
}

// input:ckeecked
.toggle-input:checked {
  + .toggle-label {
    background-color: $accent-color;
    &:after {
      left: 26px;
    }
  }
}

.toggle-switch {
  position: relative;
  width: 60px !important;
  height: 35px;
  margin: 0;
  padding: 0;
  // margin: auto;
}
