// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #1a8d89;
$sub-color: #707070;
$accent-color: #233b62;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
  font-family: "Noto Sans JP", sans-serif;
}

// ボタンのスタイル
.btn {
  width: 7rem;
  color: #fff;
  border: 1px solid $main-color;
  // border-radius: 3px;
  padding: 9px 17px;
  background-color: $main-color;
  margin: 3% 0;
  font-size: 1rem;
  font-family: "Noto Sans JP", sans-serif;
  cursor: pointer;
  &:hover {
    color: #707070;
    background-color: #fff;
    transition: color 80ms 190ms, background-color 150ms;
  }
}
.back-btn {
  @extend .btn;
  background-color: $sub-color;
  border: $sub-color solid 1px;
}
.verify-btn {
  @extend .btn;
}
.auth-btn {
  @extend .btn;
  width: 10rem;
  // margin: 0 auto;
}
.logout-btn {
  @extend .btn;
  width: 9rem;
  margin-right: 2%;
  border: $sub-color solid 1px;
  background-color: $sub-color;
}
.approval-btn {
  @extend .btn;
  width: 4.5rem;
  border: #f00 solid 1px;
  background-color: #f00;
}
.disapproval-btn {
  @extend .btn;
  width: 5.5rem;
  border: #1f00aa solid 1px;
  background-color: #003caa;
}
.approval-cancel-btn {
  @extend .btn;
  width: 8rem;
  border: #1f00aa solid 1px;
  background-color: #003caa;
}
.registration-link {
  @extend .btn;
  width: 12rem;
}
.login-link {
  @extend .btn;
}
.modal-open-btn {
  @extend .btn;
  @include mq(sp) {
    width: 6rem;
    font-size: 0.8rem;
  }
}
.modal-close-btn {
  @extend .btn;
  border: 1px solid #707070;
  background-color: #707070;
  margin-left: 1rem;
  @include mq(sp) {
    width: 6rem;
    font-size: 0.8rem;
  }
}
.download-btn {
  @extend .btn;
  width: auto;
}
.selection-screen-btn {
  @extend .btn;
  border: 1px solid #233b62;
  background-color: #233b62;
  &:hover {
    border: 1px solid #233b62;
  }
}
.copy-btn {
  border: 0;
  background: #fff;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
  &:focus {
    outline: none;
  }
  .icon:hover {
    color: #707070;
  }
}
.delete-btn {
  @extend .btn;
  border: 1px solid rgb(185, 0, 0);
  background-color: rgb(185, 0, 0);
}

// モーダルのスタイル
.modal-content {
  position: absolute;
  top: 40px;
  left: 20%;
  right: 20%;
  bottom: 40px;
  display: block;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  //   border-radius: 4px;
  outline: none;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  // font-size: 18px;
  .text-danger {
    color: #f00;
    font-weight: bold;
  }
  .modal-wrapper,
  .document-preparation {
    display: inline-block;
    text-align: left;
  }
  @include mq("sp") {
    left: 40px;
    right: 40px;
    // font-size: 18px;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

// error page
.error-page {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .error-title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
  }
  .error-message {
    font-size: 1.2rem;
    margin: 0;
    padding: 0;
  }
}
