$base-line-height: 50px;
$color: #23ac38;
$off-color: rgba($color, 0.2);
$spin-duration: 1s;

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  opacity: 0.8;
}

.loading {
  border-radius: 50%;
  width: $base-line-height;
  height: $base-line-height;
  border: 0.25rem solid $off-color;
  border-top-color: $color;
  animation: spin $spin-duration infinite linear;
}
