// レイアウト幅
$layout_width_inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max_width: 767px)",
  // タブレット
  "tab": "screen and (max_width: #{$layout_width_inner _ 1px})",
  // PC
  "pc": "screen and (min_width: #{$layout_width_inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map_get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main_color: #1a8d89;
$sub_color: #707070;
$accent_color: #233b62;

.add-data {
  .add-data__form-group {
    margin-bottom: 1%;
    .add-data__form-group__select {
      width: 100px;
      display: inline_block;
    }
    .add-data__form-input {
      width: 300px;
      padding: 0.5rem 0.5rem;
    }
  }
  table td {
    &:first-child {
      &:hover {
        border-style: double;
        border-color: $main_color;
      }
    }
  }
}
