{% load account %}
{% load i18n %}
{% load custom_tags %}

{% user_display user as user_display %}{{ user_display }}　様
{% autoescape off %}
<p>このメールは、パスワードのリセットをリクエストされたため送信されました。<br>
    以下のリンクをクリックしてパスワードをリセットしてください。<br>
    {% block reset_link %}
    {% get_setting "FRONTEND_SITE_DOMAIN" %}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}<br><br>
    このメールに心当たりがない場合は、破棄してください。
    {{ path }}
</p>
--
<br>
稚内市みどりスポーツパーク
<br>
https://wmsp.info/
<br><br>
■お問い合わせ先
<br>
EMAIL: info@wmsp.info
<br>
TEL: 0162-73-4125

{% endautoescape %}
