{% load i18n %}{% autoescape off %}
<br>
{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endblocktranslate %}
<div><br></div>
{% translate "Please go to the following page and choose a new password:" %}
<div><br></div>
{% block reset_link %}
{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
<div><br></div>
{% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
<div><br></div>
{% translate "Thanks for using our site!" %}
<div><br></div>
{% blocktranslate %}The {{ site_name }} team{% endblocktranslate %}

{% endautoescape %}
