{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list %}

{% block extrastyle %}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/changelists.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "business_diary/css/index.css" %}">
<script type="text/javascript" src="{% static "business_diary/js/index.js" %}"></script>
{% endblock %}

{% block content %}
<div id="business_diary">
    <div class="bd_sidebar">
        {% include "business_diary/sidebar_contents.html" with directory=docs path="/static/docs/" hierarchy=1 %}
    </div>
</div>
{% endblock %}

{% block nav_sidebar %}
    <div>a</div>
{% endblock %}