.allbox {
    width: 100vw;
    height: 100vh;
    display: flex;

    .sidebar {
        width:15%;
        height: 100vh;
    }
      
    .mainbox {
        width: 85%;
        height: 100vh;

        .contents {
            margin: 2% 2% 0 2%;
        }
    }
}