// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.reservation__step {
  .title-grid {
    @include mq(sp) {
      width: auto;
      display: block;
      margin: 0 10%;
    }
  }
  .verify-title {
    font-size: 1.5rem;
    color: #f00;
    margin: 0 auto;
  }
}
