// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #1a8d89;
$sub-color: #707070;
$accent-color: #233b62;

.RL-root {
  display: flex;
  flex-direction: column;

  .reservation-list {
    margin: 0 15%;
    @include mq(tab) {
      margin: 0 10%;
    }
    .title {
      font-size: 40px;
      @include mq(sp) {
        font-size: 30px;
      }
    }
    .reserve-data {
      width: fit-content;
      padding-top: 30px;
      margin-top: 30px;
      margin-right: 5%;
      border-top: #ccc 1px solid;
      @include mq(tab) {
        // margin-right: 5%;
      }
    }
  }

  ul li {
    // font-size: 1.2rem;
    position: relative;
    list-style: none;
    label {
      width: fit-content;
      display: table-cell;
      font-weight: bold;
    }
    span {
      // display: table-cell;
      // text-align: right;
      @include mq(sp) {
        // width: 100%;
        // display: block;
        // text-align: left;
      }
    }
    .table-cell {
      display: table-cell;
    }
    .usage-content {
      margin-right: 1%;
    }
  }
  ul li::after {
    display: block;
    content: "";
    position: absolute;
    top: 0.65em;
    left: -1em;
    width: 8px;
    height: 2px;
    background-color: #666;
  }
}

.reserve__step__stepper {
  font-family: "Noto Sans JP", sans-serif;
}

.reserve-modal-form {
  width: 100%;
  text-align: left;
  .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .back-btn {
    width: 5rem;
    font-size: 0.9rem;
  }
  .btn {
    width: 5rem;
    font-size: 0.9rem;
  }
  .form-group {
    width: 80%;
    margin: 0 auto;
    @include mq(sp) {
      width: 95%;
    }
    @include mq(tab) {
      width: 95%;
    }
    .form-item {
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.reservation__step {
  .title-grid {
    width: auto;
    display: block;
    margin: 0 10%;
  }
  .verify-title {
    font-size: 1.5rem;
    color: #f00;
    margin: 0 auto;
  }
  .red {
    margin: 0 auto;
    font-size: 1rem;
  }
}
