.sideBox {
  width: 100%;
  background-color: #233b62;
  min-height: 100vh;
}

.TitleBox {
  height: 100px;
  font-size: 25px;
  background-color: #1a8d89;
  display: flex;
  justify-content: center;
  align-items: center;
}

.TitleString {
  color: #fff;
  // font-size: 30px;
}

.transBox {
  display: flex;
  border-bottom: 1px solid #707070;
  color: #ffffff;
  font-size: 20px;
  p {
    margin-left: 15px;
  }
}
.transBox:hover {
  background-color: #707070;
  cursor: pointer;
}

.linkdeco {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

.icon {
  width: 20px;
  height: 18px;
  margin-right: 5px;
}

.close-btn {
  width: 100%;
  height: 50px;
}
