// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #23ad39;
$sub-color: #707070;
$accent-color: #91c21f;

.cart-icon-container {
  position: relative;
  bottom: -10px;
  .cart-icon {
    color: $sub-color;
  }
  .cart-icon:hover {
    opacity: 0.5;
  }
  .cart-count {
    top: -23px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    color: $main-color;
    font-weight: bold;
    font-size: 1.3rem;
  }
}
