// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #23ad39;
$sub-color: #707070;
$accent-color: #91c21f;

.user-icon-container {
  .user-icon {
    color: $main-color;
  }
  .user-icon:hover {
    opacity: 0.5;
  }
}

.modal {
  position: absolute;
  top: 10%;
  left: 80%;
  right: 2%;
  bottom: 65%;
  background-color: #fff;
  z-index: 9999;
  border-radius: 1%;
  border: #ccc solid 1px;
  padding: 1.5rem;
  &:focus {
    outline: none;
  }
  @include mq(tab) {
    left: 70%;
    bottom: 65%;
  }
  @include mq(sp) {
    top: 10vh;
    left: 0;
    right: 0;
    bottom: 0;
    border-top: #ccc solid 1px;
    border-radius: 0px;
  }
  b {
    font-size: 1.5rem;
  }
  .center {
    // text-align: center;
    margin: 0 auto;
  }
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
  background-color: rgba(255, 255, 255, 0.5);
  @include mq(sp) {
    // background-color: rgba(0, 0, 0, 0.5);
  }
}
