// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

header {
  width: 100%;
  height: 10vh;
  // background-color: #ffffff;
  border-bottom: 1px solid #dfdfdf;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  // ヘッダーを固定
  position: sticky;
  top: 0;
  z-index: 2;

  .header-left {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-right {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }

  span {
    margin: 0 10px;
    @include mq(sp) {
      margin: 0 5px;
    }
  }
}
