.selectBox {
    width: 180px;
    height: 45px;
    border: 1px solid #DADF00;
    border-radius: 10px 10px 0px 0px;
    background-color: #DADF00;
    font-size: 20px;
    p {
        margin-left: 10px;
        margin-top: 6px;
    }
}

.linkdeco {
    text-decoration: none;
    color: #707070;
}