.list-wrapper {
  .scroll_box-wrapper {
    display: flex;
    justify-content: center; 
    .scroll_box {
      width: 1300px;
      height: 200px;
      overflow-y: scroll;
      // white-space: nowrap;
    }
    
    /* スクロールの幅の設定 */
    .scroll_box::-webkit-scrollbar {
      width: 10px;
      height: 10px;
    }
    
    /* スクロールの背景の設定 */
    .scroll_box::-webkit-scrollbar-track {
      // border-radius: 5px;
      box-shadow: 0 0 4px #aaa inset;
    }
    
    /* スクロールのつまみ部分の設定 */
    .scroll_box::-webkit-scrollbar-thumb {
      border-radius: 5px;
      // background: deepskyblue;
      background: gray;  
    }
  }
  .printingbutton-wrapper-wrapper {
    display: flex;
    justify-content: center;
  }
}