.approvallistall {
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px;
  width: 100%;
  td {
    // border-radius: 5px 0 0 0;
    background-color: white;
    font-size: 20px;
    text-align: center;
  }
}