.printingbutton-wrapper {
  .printingbutton {
    background-color: deepskyblue;
    color: white;
    height: 40px;
    width: 100px;
    font-size: 25px;
    border-radius: 7px;
    text-align: center;
  }
}
