// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

$main-color: #23ad39;
$sub-color: #707070;
$accent-color: #91c21f;

body,
html {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Noto Sans JP", sans-serif;
  // background-color: #333;
  // color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.red {
  color: #d32f2f;
  font-size: 0.8rem;
}

// ボタンのスタイル
.btn {
  width: 7rem;
  color: #fff;
  border: 1px solid $main-color;
  border-radius: 3px;
  padding: 9px 17px;
  background-color: $main-color;
  margin: 3% 0;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    color: #000;
    background-color: inherit;
    transition: color 80ms 190ms, background-color 150ms;
  }
}
.back-btn {
  @extend .btn;
  background-color: $sub-color;
  border: $sub-color solid 1px;
}
.verify-btn {
  @extend .btn;
  border: 1px solid $accent-color;
  background-color: $accent-color;
}
.auth-btn {
  @extend .btn;
  width: 10rem;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  // margin: 0 auto;
}
.detail-btn {
  @extend .btn;
  @extend .btn;
  width: 8rem;
  @include mq(sp) {
    width: 6rem;
    font-size: 0.8rem;
    margin: 0.3rem;
  }
}
.cancel-btn {
  @extend .btn;
  width: 8rem;
  border: 1px solid $accent-color;
  background-color: $accent-color;
  @include mq(sp) {
    width: 6rem;
    font-size: 0.8rem;
    margin: 0.3rem;
  }
}
.registration-link {
  @extend .btn;
  border: 1px solid $accent-color;
  background-color: $accent-color;
}
.login-link {
  @extend .btn;
}

// モーダルのスタイル
.modal-content {
  position: absolute;
  top: 40px;
  left: 25%;
  right: 25%;
  bottom: 40px;
  display: block;
  border: 1px solid #ccc;
  background-color: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  text-align: center;
  margin: 0 auto;
  // font-size: 18px;
  .text-danger {
    color: #f00;
    font-weight: bold;
  }
  @include mq("sp") {
    left: 40px;
    right: 40px;
    // font-size: 18px;
  }
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}
.modal-wrapper {
  display: inline-block;
  text-align: left;
  .modal-title {
    border-bottom: solid 1px #ccc;
    padding: 10px;
    margin-bottom: 10px;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin: 0;
      padding: 0;
    }
  }
  ul li {
    font-size: 1.2rem;
    position: relative;
    list-style: none;
    label {
      width: 120px;
      display: table-cell;
      font-weight: bold;
    }
    span {
      display: table-cell;
      text-align: right;
      @include mq(sp) {
        // width: 100%;
        display: block;
        text-align: left;
      }
    }
    .center {
      text-align: center !important;
    }
  }
  ul li::after {
    display: block;
    content: "";
    position: absolute;
    top: 0.65em;
    left: -1em;
    width: 8px;
    height: 2px;
    background-color: #666;
  }
}
