$main-color: #1a8d89;
$sub-color: #707070;
$accent-color: #233b62;

.editfeelist {
  .form-group {
    margin-bottom: 3%;
  }
  h2 {
    text-align: left;
  }
  .place-name {
    width: 250px;
    padding: 0.5rem 0.5rem;
    font-size: 1.1rem;
  }
  .none {
    display: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 98%;
    table-layout: fixed;
    font-size: 1rem;
  }
  table tr {
    background-color: #fff;
    padding: 0.35em;
  }
  table th {
    text-align: center;
    padding: 1%;
    border-right: 2px solid #fff;
    background-color: #dfdfdf;
    &:first-child {
      border-left: 2px solid #dfdfdf;
    }
    &:last-child {
      border-right: 2px solid #dfdfdf;
    }
  }
  table td {
    text-align: center;
    border: 2px solid #dfdfdf;
    &:hover {
      border-style: double;
      border-color: $main-color;
    }
    &:first-child {
      &:hover {
        border-style: double;
        border-color: #dfdfdf;
      }
    }
    input {
      width: 95%;
      text-align: center;
      padding: 10px 0;
      font-size: 1rem;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
}
