.parent_elements {
  display: flex;
  justify-content: space-around;
  margin-left: 30px;
  .ageGroup {
  }
  //   .usage {
  //      margin-left:75px;
  //   }
  //   .profits {
  //     margin-left:115px;
  //   }
  //   .nonprofits {
  //      margin-left:100px
  //   }
  .StartDate {
  }

  .start {
    //  floa: left;
  }
  .EndDate {
  }

  .StaffNum {
    float: left;
  }
  .submitbtn {
    text-align: center;
  }
}
