// レイアウト幅
$layout-width-inner: 1180px;

// ブレークポイント
$breakpoints: (
  // スマホ
  "sp": "screen and (max-width: 767px)",
  // タブレット
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  // PC
  "pc": "screen and (min-width: #{$layout-width-inner})"
);

//mixinの引数は$breakpoint、引数の初期値はsp
@mixin mq($breakpoint: sp) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.PD-root {
  display: flex;
  flex-direction: column;
  margin: 0 15% 5% 15%;
  @include mq(tab) {
    margin: 0 10% 5% 10%;
  }
  .PD-title {
    font-size: 40px;
    color: grey;
  }
  ul li {
    // font-size: 1.2rem;
    position: relative;
    list-style: none;
    label {
      width: 100px;
      display: table-cell;
      font-weight: bold;
    }
    span {
      display: table-cell;
    }
  }
  ul li::after {
    display: block;
    content: "";
    position: absolute;
    top: 0.65em;
    left: -1em;
    width: 8px;
    height: 2px;
    background-color: #666;
  }
}
